body.dinjas {
  background-color: white;
  color: black;
  font-family: Courier New, monospace;
  font-size: 1em;
  height: 100%;
  margin: auto;
  max-width: 960px;
  padding: 0;
  position: relative;
  width: 100%
}
body.dinjas p {
  font-size: 1em;
  margin: 1em auto
}
body.dinjas h1 {
  font-size: 3em
}
.red {
  color: red
}
ul.links {
  margin: 2em;
  padding: 5px;
  width: 80%;
}
ul.links, ul.links li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul.links li a {
  display: inline-block;
  width: 50px;
  text-decoration: none;
}
ul.links li a img {
  width: 100%;
}
ul.links li:hover {
  opacity: 0.85;
  background: #eeeeee;
}
.hand {
  cursor: pointer
}
.centered {
  text-align: center;
}
section {
  margin: 0.5rem auto;
}
section.main-content {
  margin-top: 10%;
}
h2, h3, h4, h5 {
/*  font-weight: bold; */
}
body.dinjas h1 {
  font-size: 3rem
}

body.dinjas h2 {
  font-size: 2rem;
  margin: 0.5rem auto;
}

body.dinjas h3 {
  font-size: 1.75rem
}

body.dinjas h4 {
  font-size: 1.5rem
}

body.dinjas h5 {
  font-size: 1.25rem
}

body.dinjas h6 {
  font-size: 1rem;
}

footer section {
  margin: 1rem auto;
  font-size: 2rem;
}
