body.dinjas {
  background-color: white;
  color: black;
  font-family: Courier New, monospace;
  font-size: 1em;
  height: 100%;
  margin: auto;
  max-width: 960px;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%
}
body.dinjas p {
  font-size: 1em;
  margin: 1em auto
}
body.dinjas h1 {
  font-size: 3em
}
body.dinjas .red {
  color: red
}
ul.links {
  margin: 2em;
  padding: 5px;
  width: 80%;
}
ul.links, ul.links li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul.links li {

}
ul.links li a {
  display: inline-block;
  width: 50px;
  text-decoration: none;
}
ul.links li a img {
  width: 100%;
}
ul.links li:hover {
  opacity: 0.85;
  background: #eeeeee;
}
body.dinjas .hand {
  cursor: pointer
}
