<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="Author" content="Jason Dinsmore" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
  <title>{% if page.title %}{{page.title}} - {% endif %}{{site.title}}</title>
  <meta name="description" content="Jason Dinsmore&#39;s website. Jason is a programmer based in the Portland, OR area.">
  {% if page.keywords %}
    <meta name="keywords" content="{{page.keywords}}"/>
  {% endif %}
  <link href="/css/style.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/css/syntax.css" rel="stylesheet" type="text/css">

  <link href="http://feed.dinjas.com/" rel="alternate" title="{{site.title}}" type="application/atom+xml"/>
<!--  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5883638-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script>
    $(document).on('click', '.j', function() {
      _gaq.push(['_trackEvent', 'Random Clicks', 'Red J Click', 'User clicked red J on home page']);
      alert("HELLO!\n Thanks for being curious!");
    });
  </script> -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
</head>
